* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    font-size: 2.0em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.image-rounded {
    border-radius: 50%;
    min-height: 10px;
    min-width: 10px;
    max-width: 150px;
    max-height: 150px;
}

.container-images {
    position: relative;
}

.image-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

.image-2 {
    position: absolute;
    top: 0;
    left: 0;
}

.link {
    color: gray;
    margin: 10px;
}