* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    font-size: 2.0em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.container-left {
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;

}

.image-rounded {
    border-radius: 50%;
    min-height: 10px;
    min-width: 10px;
    max-width: 320px;
    max-height: 320px;
    margin: 10px;
}

.container-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.link {
    color: gray;
    margin: 10px;
}

.container-image {
    min-height: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.element{
    height: 400px;
    width: 400px;
}

.element-text {
    height: 400px;
    width: 600px;
}

.p {
  font-size: 30px;
  text-align: justify;  
}


